  body {
    padding-top: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 2;
    background-image: url("../images/super-mario-bros-platform-game-on-a-green-screen-background_vys_zen4g__F0000.png");
    background-size: 1470px 770px;
    background-repeat: no-repeat;
  }

  
  @media (min-width: 768px) {
    body {
      font-size: 28px;
    }
  }
  
  .info {
    display: block;
    font-size: 40px;
  }
  
  .word {
    margin: 10px 0px;
    font-size: 40px;
  }
  
  #word span {
    display: inline-block;
    margin: 0 3px;
    width: 40px;
    border-bottom: 1px solid black;
  }
  
  [type=text] {
    display: inline-block;
    text-align: center;
    max-width: 100px;
  }
  
  [type=text]:disabled {
    cursor: not-allowed;
    border: none;
  }
  
  .warning {
    color: yellow;
    display: inline-block;
  }
  
  .success {
    color: lime;
    display: inline-block;
    line-height: 2;
  }
  
  button {
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
    border: 1px solid lightgray;
    line-height: 25px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
  }
  
  [id="solved"] > span {
    position: relative;
    font-size: 35px;
  }
  
  .progress {
    position: relative;
    left: 0;
    height: 2px;
    background: orange;
    display: inline-block;
  }
  
  .success .progress {
    background: lime;
  }

  #attempts {
    font-size: 30px;
  }

  #guesses {
    font-size: 30px;
  }


